<% if flash[:error] %>
<%= flash[:error] %>
<% end %>

<% if flash[:success] %>
<%= flash[:success] %>
<% end %>

<h1>WELCOME, <%= @user.username.capitalize %>!</h1><br>

<% if @user.posts.count == 0 %>
<p> You have no posts. <a href="/posts/new">Create a new one here.</a> </p>
<% else %>
<a href="/posts/new">Create a NEW POST</a><br>
<h3>Here are all of your posts:</h3><br>
<% @user.posts.each do |post| %>
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
    <p><%= post.description %></p><br>
<% end %>
<% end %>

<a href="/logout">LOG OUT</a> 