<% if flash[:error] %>
<%= flash[:error] %>
<% end %>

<% if flash[:success] %>
<%= flash[:success] %>
<% end %>

<h1><%= @post.title %></h1>
<p><%= @post.description %><p><br>

<% @comments.each do |comment|  %>
<%=   comment.content %>
<form action="/comments/<%= comment.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Comment">
</form>
<% end %>

<form action="/comments" method="post">
<input type="hidden" value="<%= @post.id %>" name="comment[post_id]">
<label for="comment">Comment:</label>
<textarea id="content" name="comment[content]"></textarea>
<input type="submit" value="Submit Comment">
</form>
<br>
<br>
<br>
<br>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post">
</form> 