<% if flash[:error] %>
<%= flash[:error] %>
<% end %>

<% if flash[:success] %>
<%= flash[:success] %>
<% end %>

<form method="post" action="/favoriteposts">
<input type="hidden" value="<%= @post.id %>" name="favoriteposts[post_id]">
<input type="hidden" value="<%= current_user.id %>" name="favoriteposts[user_id]">
<input id="favorite-button" type="submit" value="<%= @post.button_text(current_user) %>">
</form>

<h1><%= @post.title %></h1>
<p><%= @post.description %><p><br>

<% @comments.each do |comment|  %>
  <div class="card">
  <div class="card-header">
@<%=   comment.user.username %><br>
</div>
<div class="card-body">
<p class="card-text"><%=   comment.content %><br></p>
<% if comment.user_id == session[:user_id] %>
<form action="/comments/<%= comment.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Comment">
</form>
<% end %>
</div>
    
    </div>
<% end %>

<form action="/comments" method="post">
<input type="hidden" value="<%= @post.id %>" name="comment[post_id]">
<label for="comment">Comment:</label>
<textarea id="content" name="comment[content]"></textarea>
<input type="submit" value="Submit Comment">
</form>
<br>
<br>
<br>
<br>


<% if @post.user_id == session[:user_id] %>
<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post">
</form> 
<% end %>